site_name: XAUTOMATA Technical Product Documentation
site_description: Documentation of XAUTOMATA Product
site_url: https://www.xautomata.com/

theme:
  favicon: images/logo.png
  name: material
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.tooltips
    - navigation.sections
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - toc.follow
    - header.autohide

  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: blue
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: blue

repo_name: XAUTOMATA Technical Product Documentation

plugins:
  - mkdocstrings
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

nav:
  - index.md
  - Product Vision: vision.md
  - Strategic Themes and Pillars: themes.md
  - Roadmap: road.md
  - Automation Pilot Program: app.md
  - High Level Documentation: hdl.md
  - Low Level Documentation: lld.md
  - Success Cases: use_case.md
  - Ecosystem: ecosystem.md

copyright:
  All rights reserved
